
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center; 
  align-items: center;           
  flex-direction: column;  
}

#newsletter {
  max-width: 600px;              
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0;
}

header {
  text-align: center;
  margin: 0;
}

header img {
  width: 500px;
  margin: 0;
}

header h1 {
  color: #333;
  margin: 0;
}

header p {
  color: #777;
}
content{
  margin: 0;
}
article{
  margin: 0;
}
article p {
  color: #555;
  line-height: 1.6;
  margin: 0;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: grid;
  text-align: center;
  padding: 10px 20px;
  background-color: #797c7e;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 15px;
}

.footer {
  color: #777;
  font-size: 12px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}

.social-icons i {
  color: #000000;
}

.social-icons a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}

.social-icons a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}


#newsletter .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #797c7e;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  #newsletter {
    padding: 15px;
  }

  header h1 {
    font-size: 1rem;
  }

  header p {
    font-size: 0.9rem;
  }

  article p, article ul li, .button {
    font-size: 0.85rem;
  }

  .button {
    padding: 8px 15px;
  }

  .social-icons a {
    width: 35px;
    height: 35px;
  }

  header img {
    max-width: 200px;
  }
}

